* {
    box-sizing: border-box;
}

body {
    background-color: #F3F3F3;
    font-family: 'Roboto', sans-serif;
}

input {
    color: #000000;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    border: none;
    width: 80%;
    height: 50%;
}

span {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.topo ion-icon {
    font-size: 44px;
}

.area-de-escrita ion-icon {
    font-size: 32px;
}

.area-de-escrita ion-icon:active {
    transform: translate(0px, 4px);
}

.topo {
    background-color: #FFFFFF;
    height: 80px;
    width: 100%;
    padding: 0 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 0;
}

.topo img {
    width: 75px;
    height: 53px;
}

.mensagens {
    margin-top: 106px;
    margin-bottom: 84px;
}

.msg-status {
    background-color: #DCDCDC;
    padding: 14px 6px;
    border-radius: 2px;
    margin-bottom: 4px;
}

.msg-normal {
    background-color: #FFFFFF;
    padding: 14px 6px;
    border-radius: 2px;
    margin-bottom: 4px;
}

.msg-reservada {
    background-color: #FFDEDE;
    padding: 14px 6px;
    border-radius: 2px;
    margin-bottom: 4px;
}

.hora {
    color: #AAAAAA;
}

.nome {
    font-weight: 600;
}

.area-de-escrita {
    background-color: #FFFFFF;
    height: 80px;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 0 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);

}